* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem
}

body {
  background-color  : #020202;
  font-size: 16px;
  scroll-behavior: smooth;
}

p{
  font-size: 14px;
  line-height: 1.3rem;
}

hr {
  margin: 1rem 0.5rem;
}

code {
  padding: 0.2rem 0.4rem;
  background-color: #111;
  border-radius: 7px;
  font-size: 12px;
  color: #d5dc9f;
}

/*HEADER=========================================*/

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #020202;
  color: #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.7rem 0;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
}

header .logo-area {
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo-area img {
  width: 2rem;
  height: auto;
  border-radius: 3px;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header ul li {
  margin: 0 1rem;
}

header ul li a {
  color: yellow;
  text-decoration: none;
}

header ul li a:hover {
  color: #9d9d54;
  text-decoration: underline
}

header ul li a:visited {
  color: #6969d1
}

/* MAIN */

main {
  color: #ccc;
  margin: 3rem 7rem;
}

main ul {
  margin: 1rem 2rem;
  list-style: none;
}

/* SCROLL */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #292929;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ea3;
}

/* TABELA */

table{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #2962ff;
  border-radius: 3px;
}

th, td{
  border-left: 1px solid #2962ff;
  padding: 3px 7px;
}

/* BOTÕES */

button{
  padding: 5px 0.7rem;
  border: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  background-color: #4f4f4f;
  border-radius: 2px;
}

button:hover{
  background-color: #373737;;
}

.btn-blue{
  background-color: #183ed8;
}

.btn-blue:hover{
  background-color: #0f2a98;
}

.btn-red{
  background-color: #f50101;
}

.btn-red:hover{
  background-color: #b00101;
}

.btn-green{
  background-color: #009423;
}

.btn-green:hover{
  background-color: #006a19;
}

.btn-yellow{
  background-color: #99bf00;
}

.btn-yellow:hover{
  background-color: #759300;
}

/* INPUTS */

input{
  background-color: #444;
  border: none;
  padding: 5px 7px;
  color: #eee;
}

input::placeholder{
  color: #b3f6f5b3;
}

input:focus{
  outline: 2px solid #b3f6f5b3;
}

/* MARGENS E PADDING */

.m1{
  margin: 0.7rem;
}

.m2{
  margin: 1.1rem;
}

.my1{
  margin: 0.7rem 0;
}

.my2{
  margin: 1.1rem 0;
}

.mx1{
  margin: 0 0.7rem;
}

.mx2{
  margin: 0 1.1rem;
}

.p1{
  padding: 0.7rem;
}

.p2{
  padding: 1.1rem;
}

.py1{
  padding: 0.7rem 0;
}

.py2{
  padding: 1.1rem 0;
}

.px1{
  padding: 0 0.7rem;
}

.px2{
  padding: 0 1.1rem;
}





