* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Inconsolata', monospace;
}

body {
  background-color: #020202;
  font-size: 16px;
}

header {
  color: #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.7rem;
  border-bottom: 1px solid #eee;
  padding: 0.7rem 0;
}

header .logo-area{
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo-area img{
  margin: 0 1rem;
  width: 2rem;
  height: auto;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header ul li {
  margin: 0 1rem;
}

header ul li a{
  color: yellow;
  text-decoration: none;
}

header ul li a:hover{
  color: rgb(157, 157, 84);
  text-decoration: underline
}

header ul li a:visited{
  color: rgb(105, 105, 209)
}